{% extends 'base.html' %}
{% load static %}

{% block title %}О нас - Moe's Tavern{% endblock %}

{% block content %}
<div class="container py-5">
    <div class="row">
        <div class="col-md-6">
            <h1>О нашем барбершопе</h1>
            <p class="lead">Moe's Tavern - это не просто барбершоп, это легенда!</p>
            
            <h3>Наша история</h3>
            <p>Основанный в 1989 году, наш барбершоп стал культовым местом для настоящих мужчин, ценящих качество, традиции и хорошую компанию.</p>
            
            <h3>Философия</h3>
            <p>Мы считаем, что стрижка - это не просто услуга, а целый ритуал, который должен приносить удовольствие.</p>
            
            <h3>Наши принципы</h3>
            <ul>
                <li>Качественные материалы и инструменты</li>
                <li>Индивидуальный подход к каждому клиенту</li>
                <li>Атмосфера настоящего мужского клуба</li>
                <li>Бесплатный Duff Beer для каждого клиента</li>
            </ul>
        </div>
        <div class="col-md-6">
            <img src="{% static 'images/moes-interior.jpg' %}" class="img-fluid rounded shadow mb-3" alt="Интерьер">
            <img src="{% static 'images/moes-team.jpg' %}" class="img-fluid rounded shadow" alt="Наша команда">
        </div>
    </div>
</div>
{% endblock %}