{% load static %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid justify-content-center">
        <a class="navbar-brand" href="{% url 'landing' %}">
            <img src="{% static 'images/moes-logo-small.jpg' %}" alt="Moe's Tavern" height="40">
        </a>
        <div class="d-flex">
            <a href="{% url 'landing' %}" class="nav-block">
                <div class="nav-block-content"><i class="bi bi-house-door"></i> Главная</div>
            </a>
            <a href="{% url 'about' %}" class="nav-block">
                <div class="nav-block-content"><i class="bi bi-info-circle"></i> О нас</div>
            </a>
            <a href="{% url 'services' %}" class="nav-block">
                <div class="nav-block-content"><i class="bi bi-scissors"></i> Услуги</div>
            </a>
            <a href="{% url 'landing' %}#masters-section" class="nav-block">
                <div class="nav-block-content"><i class="bi bi-person-badge"></i> Мастера</div>
            </a>
            <a href="{% url 'landing' %}#reviews-section" class="nav-block">
                <div class="nav-block-content"><i class="bi bi-chat-left-text"></i> Отзывы</div>
            </a>
            {% if user.is_staff %}
                <a href="{% url 'orders' %}" class="nav-block">
                    <div class="nav-block-content"><i class="bi bi-clipboard-data"></i> Заявки</div>
                </a>
            {% endif %}
        </div>
    </div>
</nav>