{% extends 'base.html' %}
{% load static %}

{% block title %}Барбершоп "ALEXXX"{% endblock %}

{% block content %}
    <h1 class="text-center my-4">Добро пожаловать в Барбершоп "ALEXXX"!</h1>

    <!-- Основное содержимое главной страницы -->
    <div class="container">
        <p class="text-center">Добро пожаловать на официальный сайт нашего барбершопа. Мы предлагаем широкий спектр услуг для вашего комфорта и стиля.</p>
    </div>

    <!-- Блоки для навигации по основным разделам -->
    <div class="container text-center">
        <div class="row">
            <div class="col-md-3">
                <a href="{% url 'about' %}" class="nav-block">
                    <div class="nav-block-content p-3 bg-light rounded shadow-sm">
                        <h3>О нас</h3>
                        <p>Узнайте больше о нашем барбершопе и нашей команде.</p>
                    </div>
                </a>
            </div>
            <div class="col-md-3">
                <a href="{% url 'services' %}" class="nav-block">
                    <div class="nav-block-content p-3 bg-light rounded shadow-sm">
                        <h3>Услуги</h3>
                        <p>Посмотрите, какие услуги мы предлагаем.</p>
                    </div>
                </a>
            </div>
            <div class="col-md-3">
                <a href="{% url 'masters' %}" class="nav-block">
                    <div class="nav-block-content p-3 bg-light rounded shadow-sm">
                        <h3>Мастера</h3>
                        <p>Познакомьтесь с нашими мастерами.</p>
                    </div>
                </a>
            </div>
            <div class="col-md-3">
                <a href="{% url 'appointment' %}" class="nav-block">
                    <div class="nav-block-content p-3 bg-light rounded shadow-sm">
                        <h3>Запись</h3>
                        <p>Запишитесь на услугу онлайн.</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
{% endblock %}
