{% extends 'base.html' %}

{% block title %}Главная{% endblock %}

{% block content %}
    <h1>Добро пожаловать в барбершоп "ALEXXX"!</h1>
<h2>Наши мастера</h2>
<ul>
    {% for master in masters %}
    <li><strong>{{ master.name }}</strong></li>
    {% endfor %}
</ul>
<h2>Наши услуги</h2>
<ul>
    {% for service in services_with_masters %}
    <li>
        {{ service.name }}
        {% if service.masters %}
            - Мастер:
            {% for master in service.masters %}
                <strong>{{ master.name }}</strong>{% if not forloop.last %}, {% endif %}
            {% endfor %}
        {% endif %}
    </li>
    {% endfor %}
</ul>
{% endblock %}
