{% extends 'base.html' %}

{% block title %}Заказ №{{ order.id }}{% endblock %}

{% block content %}
    <div class="container">
        <h1>Заказ №{{ order.id }}</h1>
        <p><strong>Клиент:</strong> {{ order.client_name }}</p>
        {% if order.status == "новая" %}
            <p style="color: green;"><strong>Статус:</strong> новая</p>
        {% elif order.status == "подтвержденная" %}
            <p style="color: orange;"><strong>Статус:</strong> подтвержденная</p>
        {% elif order.status == "отмененная" %}
            <p style="color: gray;"><strong>Статус:</strong> отмененная</p>
        {% else %}
            <p style="color: gold;"><strong>Статус:</strong> выполненная</p>
        {% endif %}
        <h2>Услуги:</h2>
        <ul>
            {% for service in order.services %}
            <li>{{ service }}</li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
